<form action="/restaurants" method="POST">
  <input type="text" placeholder="Name" name="name">
  <input type="text" placeholder="English Name" name="name_en">
  <input type="text" placeholder="Category" name="category">
  <input type="text" placeholder="Image" name="image">
  <input type="text" placeholder="Location" name="location">
  <input type="text" placeholder="Phone" name="phone">
  <input type="text" placeholder="Google Map" name="google_map">
  <input type="number" placeholder="Rating" name="rating">
  <input type="text" placeholder="Description" name="description">
  <button type="submit">Create</button>
</form>